      

<div class="jumbotron" style="color: black; background-image: url(/assets/background.png);">     <div class="container">
	<center>
		<h1><br>PhysicSims</h1>       
		<p style="width: 800px">
			<br>PhysicSims is a peer to peer educational portal. It is a collection of physics education resources made by students for students.
		</p>
		<p></p>
	</center>
	</div>
</div>

<div class="container">     <!-- Example row of columns -->     
	<div class="row">
		<div class="col-md-4">
			<h2>Simulations</h2>
			<p>Browse our list of simulations. Topics covered include light polarization, electrons through parallel plates and cyclotrons. All simulations are in-browser and require no downloads.</p>
			<p><a class="btn btn-default" href="/simulations" role="button">View details »</a></p>
		</div>

		<div class="col-md-4">
			<h2>Videos</h2>
			<p>Check out Jake's videos. Topics covered include quantum physics, gravity and electricity and geostationary satellites. Be sure to check out the Youtube channel for more.</p>
			<p><a class="btn btn-default" href="/videos" role="button">View details »</a></p>
		</div>

		<div class="col-md-4">
			<h2>Pictures</h2>
			<p>Take a look at Mackenzie's Pictures. Topics covered include gravity, light diffraction and electric and magnetic fields. Full sized images are included as links on seperate pages.</p>
			<p><a class="btn btn-default" href="/pictures" role="button">View details »</a></p>
		</div>
	</div>
	<hr>
	<footer><p>By Rees and Isaac</p></footer>   
</div> <!-- /container -->

</html>